name: Unit Tests

on:
  push:
    branches:
     - main
  pull_request:
    branches:
     - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install zig
        run: |
          ZIG_VERSION=0.12.0-dev.3291+17bad9f88
          wget https://ziglang.org/builds/zig-linux-x86_64-$ZIG_VERSION.tar.xz
          tar xf zig-linux-x86_64-$ZIG_VERSION.tar.xz
          mv zig-linux-x86_64-$ZIG_VERSION $HOME/zig-build

      - name: Run unit tests
        run: |
          $HOME/zig-build/zig build unit_test
